# add demographics to the people data and convert to one hot vectors.

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
df1 = pd.read_csv('../data/processed_data/expended_people_accept_by_year.csv', error_bad_lines = False)
df_demo = pd.read_csv("../data/processed_data/FIPS_converted_demographics.csv")

In [ ]:
df1 = df1[(df1['year'] == 2017) | (df1['year'] == 2018)]

In [3]:
column_name = df1.columns[-1]

hardship

In [6]:
df_demo = df_demo.drop(['TOT_POP','TOT_MALE','TOT_FEMALE'], axis=1)

In [7]:
df_demo['FIPS'] = df_demo['FIPS'].astype(int)

In [8]:
df_temp = df_demo.set_index(['YEAR', 'FIPS'])

In [14]:
# Create a new dataframe that correspond to each individual in df1, then combine



def add_demographics(ser):
    FIPS = ser["FIPS"]
    year = int(ser["year"])
    if year == 2018:
        year = 2017
    demo_ser = df_demo.loc[year, FIPS]
    if demo_ser.size > 0:
        return demo_ser
    else:
        return np.nan


new_df_demo = df1[['year','FIPS']].apply(add_demographics, axis=1)

In [16]:
new_df_demo.to_csv('new_df_demo.')

In [3]:
new_df_demo  = pd.read_csv('new_df_demo.csv')

In [4]:
new_df_demo = new_df_demo.iloc[:,1:]

,WA_MALE,WA_FEMALE,BA_MALE,BA_FEMALE,IA_MALE,IA_FEMALE,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,0.219295,0.228421,0.200060,0.239038,0.004169,0.004304,0.036299,0.040400,0.000703,0.000801,...,0.053802,0.053729,0.017131,0.018317,0.004649,0.004690,0.001567,0.001567,0.000769,0.000896
1,0.219295,0.228421,0.200060,0.239038,0.004169,0.004304,0.036299,0.040400,0.000703,0.000801,...,0.053802,0.053729,0.017131,0.018317,0.004649,0.004690,0.001567,0.001567,0.000769,0.000896
2,0.478144,0.477808,0.003362,0.001681,0.011769,0.010087,0.001681,0.001009,0.000000,0.000672,...,0.009079,0.006052,0.000000,0.000000,0.001345,0.001345,0.000000,0.000000,0.000000,0.000000
3,0.478144,0.477808,0.003362,0.001681,0.011769,0.010087,0.001681,0.001009,0.000000,0.000672,...,0.009079,0.006052,0.000000,0.000000,0.001345,0.001345,0.000000,0.000000,0.000000,0.000000
4,0.397357,0.400176,0.059172,0.060526,0.002350,0.002270,0.028119,0.030397,0.000261,0.000247,...,0.084710,0.080259,0.003196,0.003358,0.002525,0.002365,0.000977,0.000999,0.000247,0.000217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3966069,0.358425,0.361328,0.010927,0.010183,0.005271,0.005111,0.099531,0.110595,0.001963,0.001897,...,0.161571,0.160922,0.003222,0.003238,0.005955,0.005777,0.004399,0.004495,0.000949,0.000958
3966070,0.365107,0.385297,0.093402,0.102654,0.003384,0.002496,0.013309,0.015361,0.000570,0.000529,...,0.103093,0.102997,0.006770,0.006954,0.003166,0.002276,0.001027,0.001016,0.000468,0.000423
3966071,0.365107,0.385297,0.093402,0.102654,0.003384,0.002496,0.013309,0.015361,0.000570,0.000529,...,0.103093,0.102997,0.006770,0.006954,0.003166,0.002276,0.001027,0.001016,0.000468,0.000423
3966072,0.352848,0.345481,0.092822,0.104661,0.005650,0.005096,0.035878,0.037401,0.000614,0.000635,...,0.207235,0.198864,0.006712,0.006723,0.005852,0.005282,0.001921,0.001934,0.000561,0.000531
3966073,0.352848,0.345481,0.092822,0.104661,0.005650,0.005096,0.035878,0.037401,0.000614,0.000635,...,0.207235,0.198864,0.006712,0.006723,0.005852,0.005282,0.001921,0.001934,0.000561,0.000531

In [5]:
df1 = df1.iloc[:, 1:]

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'settlement_term', 'h_start_year', 'h_end_year', 'haszip', 'FIPS',
       'gdp', 'unemployment_insur', 'dividend', 'year', 'hardship'],
      dtype='object', length=160)

In [8]:
# # Combine the two

In [9]:
df1_final = df1.join(new_df_demo)

In [ ]:
# df1_final.to_csv('df1_final.gz', compression='gzip')

In [10]:
# df1_final.to_csv('df_final.csv')

In [3]:
# df1_final = pd.read_csv('df1_final.gz', compression='gzip', header=0, sep=',', quotechar='"')

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (20,60,119,130,131,132,135,136,137,140,146,147,148) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
credit = ['revol_bal',
'out_prncp',
'tot_cur_bal',
'out_prncp',
'mo_sin_old_il_acct',
'mo_sin_old_rev_tl_op',
'fico_range_low',
'fico_range_high',
'delinq_2yrs',
'mths_since_last_delinq',
'pub_rec',
'acc_now_delinq',
'delinq_amnt',
'num_tl_90g_dpd_24m',
'percent_bc_gt_75',
'open_acc',
'total_rev_hi_lim',
'application_type']

macro = ['gdp', 'unemployment_insur','dividend']

demo = ['emp_length', 'verification_status', 'home_ownership', 'annual_inc', 'dti']

demo_supp = ['WA_MALE', 'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 'IA_MALE', 'IA_FEMALE',
       'AA_MALE', 'AA_FEMALE', 'NA_MALE', 'NA_FEMALE', 'TOM_MALE',
       'TOM_FEMALE', 'WAC_MALE', 'WAC_FEMALE', 'BAC_MALE', 'BAC_FEMALE',
       'IAC_MALE', 'IAC_FEMALE', 'AAC_MALE', 'AAC_FEMALE', 'NAC_MALE',
       'NAC_FEMALE', 'NH_MALE', 'NH_FEMALE', 'NHWA_MALE', 'NHWA_FEMALE',
       'NHBA_MALE', 'NHBA_FEMALE', 'NHIA_MALE', 'NHIA_FEMALE', 'NHAA_MALE',
       'NHAA_FEMALE', 'NHNA_MALE', 'NHNA_FEMALE', 'NHTOM_MALE', 'NHTOM_FEMALE',
       'NHWAC_MALE', 'NHWAC_FEMALE', 'NHBAC_MALE', 'NHBAC_FEMALE',
       'NHIAC_MALE', 'NHIAC_FEMALE', 'NHAAC_MALE', 'NHAAC_FEMALE',
       'NHNAC_MALE', 'NHNAC_FEMALE', 'H_MALE', 'H_FEMALE', 'HWA_MALE',
       'HWA_FEMALE', 'HBA_MALE', 'HBA_FEMALE', 'HIA_MALE', 'HIA_FEMALE',
       'HAA_MALE', 'HAA_FEMALE', 'HNA_MALE', 'HNA_FEMALE', 'HTOM_MALE',
       'HTOM_FEMALE', 'HWAC_MALE', 'HWAC_FEMALE', 'HBAC_MALE', 'HBAC_FEMALE',
       'HIAC_MALE', 'HIAC_FEMALE', 'HAAC_MALE', 'HAAC_FEMALE', 'HNAC_MALE',
       'HNAC_FEMALE']

other = ['id'] 

label = ['hardship']


all_columns = credit+macro+demo+demo_supp+other+label

In [5]:
df1 = df1_final[all_columns]

In [ ]:
def clean_application_type(x):
    if x[0] == 'I':
        return 0
    return 1
df1['application_type'] = df1['application_type'].dropna().apply(clean_application_type)

In [ ]:
df1['mths_since_last_delinq'] = df1['mths_since_last_delinq'].dropna()

In [ ]:
import math
avg_percent_bc_gt_75 = df1['percent_bc_gt_75'].sum()/df1['percent_bc_gt_75'].notna().sum()
def clean_percent_bc_gt_75(x):
  if math.isnan(x):
    return avg_percent_bc_gt_75
  return x

df1['percent_bc_gt_75']= df1['percent_bc_gt_75'].apply(clean_percent_bc_gt_75)

In [ ]:
df1['mo_sin_old_il_acct'] = df1['mo_sin_old_il_acct'].dropna()

In [11]:
pca_array_exante = df1[['revol_bal','out_prncp', 'tot_cur_bal', 'out_prncp', 'mo_sin_old_rev_tl_op',  'delinq_2yrs','mths_since_last_delinq','pub_rec','acc_now_delinq','delinq_amnt','num_tl_90g_dpd_24m',
'percent_bc_gt_75', 'open_acc', 'dti', 'total_rev_hi_lim', 'application_type']]

In [ ]:
def convert_emp_length(row):
    temp = row
    if temp != temp: return np.nan
    if temp[0] == '<': return 0 
    if temp[1] == '0': return 10 
    return int(temp[0])
def clean_emp_length(df_demo):
    # less than 1 treated as 0 , >10 treated as 10 
    # df_demo = df_demo.dropna()
    res = df_demo['emp_length'].apply(convert_emp_length)
    mean = res.sum()/df_demo['emp_length'].notna().sum()
    def convert_emp_length_2(row):
      temp = row
      if temp != temp: return mean 
      return row
      return int(temp[0])
    res_final = res.apply(convert_emp_length_2)
    return res_final

def convert_verification_status(row):
    temp = row
    if temp[0] == 'S': return 0 
    if temp[0] == 'N': return 1 
    if temp[0] == 'V': return 2 
def clean_verification_status(df_demo):
    # map 3 status to 0, 1, 2 
    res = df_demo['verification_status'].apply(convert_verification_status)
    return res

def convert_home_ownership(row):
    temp = row
    if temp[0] == 'M': return 0 
    if temp[0] == 'R': return 1 
    if temp[0] == 'O': return 2 
    if temp[0] == 'A': return 3 
    return np.nan
def clean_home_ownership(df_demo):
    # less than 1 treated as 0 , >10 treated as 10 
    res = df_demo['home_ownership'].apply(convert_home_ownership)
    res = res.dropna()
    return res



def clean_annual_inc(df_demo):
    # nothing change
    # df_demo = df_demo.dropna()
    res = df_demo["annual_inc"]
    mean = res.sum()/res.notna().sum()
    def convert_annual_inc_2(row):
      temp = row
      if temp != temp: return mean 
      
      return row 
    res_final = res.apply(convert_annual_inc_2)
    return res_final
# def clean_dti(df_demo):
#     # nothing changes 
#     return df_demo

df1['emp_length'] = clean_emp_length(df1)
df1['verification_status'] = clean_verification_status(df1)
df1['home_ownership'] = clean_home_ownership(df1)
df1['annual_inc'] = clean_annual_inc(df1)

In [ ]:
df1['hardship'] = df1['hardship'].apply(lambda row: 1 if row[0] == 'Y' else 0)

In [16]:
cateorical_features = ['application_type','verification_status', 'home_ownership' ]

In [ ]:
temp = df1['out_prncp'].values.copy()
df1.drop(columns = 'out_prncp', inplace = True)
df1['out_prncp'] = temp[:,0]

In [19]:
df1 = df1[['revol_bal', 'out_prncp','tot_cur_bal', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'fico_range_low', 'fico_range_high',
       'delinq_2yrs', 'mths_since_last_delinq', 'pub_rec', 'acc_now_delinq',
       'delinq_amnt', 'num_tl_90g_dpd_24m', 'percent_bc_gt_75', 'open_acc',
       'total_rev_hi_lim','gdp', 'unemployment_insur',
       'dividend', 'emp_length', 'verification_status', 'home_ownership',
       'annual_inc', 'dti', 'WA_MALE', 'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 'IA_MALE', 'IA_FEMALE',
       'AA_MALE', 'AA_FEMALE', 'NA_MALE', 'NA_FEMALE', 'TOM_MALE',
       'TOM_FEMALE', 'WAC_MALE', 'WAC_FEMALE', 'BAC_MALE', 'BAC_FEMALE',
       'IAC_MALE', 'IAC_FEMALE', 'AAC_MALE', 'AAC_FEMALE', 'NAC_MALE',
       'NAC_FEMALE', 'NH_MALE', 'NH_FEMALE', 'NHWA_MALE', 'NHWA_FEMALE',
       'NHBA_MALE', 'NHBA_FEMALE', 'NHIA_MALE', 'NHIA_FEMALE', 'NHAA_MALE',
       'NHAA_FEMALE', 'NHNA_MALE', 'NHNA_FEMALE', 'NHTOM_MALE', 'NHTOM_FEMALE',
       'NHWAC_MALE', 'NHWAC_FEMALE', 'NHBAC_MALE', 'NHBAC_FEMALE',
       'NHIAC_MALE', 'NHIAC_FEMALE', 'NHAAC_MALE', 'NHAAC_FEMALE',
       'NHNAC_MALE', 'NHNAC_FEMALE', 'H_MALE', 'H_FEMALE', 'HWA_MALE',
       'HWA_FEMALE', 'HBA_MALE', 'HBA_FEMALE', 'HIA_MALE', 'HIA_FEMALE',
       'HAA_MALE', 'HAA_FEMALE', 'HNA_MALE', 'HNA_FEMALE', 'HTOM_MALE',
       'HTOM_FEMALE', 'HWAC_MALE', 'HWAC_FEMALE', 'HBAC_MALE', 'HBAC_FEMALE',
       'HIAC_MALE', 'HIAC_FEMALE', 'HAAC_MALE', 'HAAC_FEMALE', 'HNAC_MALE',
       'HNAC_FEMALE','id', 'hardship']]

In [20]:
df1 = df1.dropna()

,revol_bal,out_prncp,tot_cur_bal,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,fico_range_low,fico_range_high,delinq_2yrs,mths_since_last_delinq,pub_rec,...,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE,id,hardship
0,2765.0,0.00,144904.0,148.0,128.0,675.0,679.0,0.0,30.0,0.0,...,0.017131,0.018317,0.004649,0.004690,0.001567,0.001567,0.000769,0.000896,68407277,0
1,2765.0,0.00,144904.0,148.0,128.0,675.0,679.0,0.0,30.0,0.0,...,0.017131,0.018317,0.004649,0.004690,0.001567,0.001567,0.000769,0.000896,68407277,0
2,21470.0,0.00,204396.0,113.0,192.0,715.0,719.0,1.0,6.0,0.0,...,0.000000,0.000000,0.001345,0.001345,0.000000,0.000000,0.000000,0.000000,68355089,0
3,21470.0,0.00,204396.0,113.0,192.0,715.0,719.0,1.0,6.0,0.0,...,0.000000,0.000000,0.001345,0.001345,0.000000,0.000000,0.000000,0.000000,68355089,0
4,7869.0,0.00,189699.0,125.0,184.0,695.0,699.0,0.0,300.0,0.0,...,0.003196,0.003358,0.002525,0.002365,0.000977,0.000999,0.000247,0.000217,68341763,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3966069,8633.0,23252.59,28398.0,154.0,258.0,705.0,709.0,7.0,9.0,0.0,...,0.003222,0.003238,0.005955,0.005777,0.004399,0.004495,0.000949,0.000958,88985880,0
3966070,17641.0,0.00,62426.0,132.0,206.0,660.0,664.0,0.0,67.0,1.0,...,0.006770,0.006954,0.003166,0.002276,0.001027,0.001016,0.000468,0.000423,88224441,0
3966071,17641.0,0.00,62426.0,132.0,206.0,660.0,664.0,0.0,67.0,1.0,...,0.006770,0.006954,0.003166,0.002276,0.001027,0.001016,0.000468,0.000423,88224441,0
3966072,7662.0,8456.12,143066.0,149.0,243.0,660.0,664.0,0.0,37.0,0.0,...,0.006712,0.006723,0.005852,0.005282,0.001921,0.001934,0.000561,0.000531,88215728,0
3966073,7662.0,8456.12,143066.0,149.0,243.0,660.0,664.0,0.0,37.0,0.0,...,0.006712,0.006723,0.005852,0.005282,0.001921,0.001934,0.000561,0.000531,88215728,0

In [ ]:
def one_hot_veri(row):
    if row == 0: 
        return pd.Series([1,0,0])
    if row == 1: 
        return pd.Series([0,1,0])
    return pd.Series([0,0,1]) 
temp1 = df1['verification_status'].apply(one_hot_veri)
# rename

In [ ]:
temp1.columns = ['veri_0', 'veri_1', 'veri_2']

In [92]:
def one_hot_home(row):
    if row == 0: 
        return pd.Series([1,0,0,0])
    if row == 1: 
        return pd.Series([0,1,0,0])
    if row == 2: 
        return pd.Series([0,0,1,0])
    return pd.Series([0,0,0,1]) 
temp2 = df1['home_ownership'].apply(one_hot_home)

In [96]:
temp2.columns = ['home_own_0', 'home_own_1', 'home_own_2', 'home_own_3']

         home_own_0  home_own_1  home_own_2  home_own_3
0                 1           0           0           0
1                 1           0           0           0
2                 1           0           0           0
3                 1           0           0           0
4                 1           0           0           0
...             ...         ...         ...         ...
3966069           1           0           0           0
3966070           0           1           0           0
3966071           0           1           0           0
3966072           1           0           0           0
3966073           1           0           0           0

[3966074 rows x 4 columns]

In [97]:
# temp1.to_csv('temp1.csv')
# temp2.to_csv('temp2.csv')

In [24]:
# temp1 = pd.read_csv('temp1.csv').iloc[:,1:]
# temp2 = pd.read_csv('temp2.csv').iloc[:,1:]

In [27]:
df1.drop(columns=['home_ownership','verification_status'], inplace=True)

In [28]:
df1_one_hot = df1.join(temp1).join(temp2)

In [29]:
# df1_one_hot.to_csv('df1_one_hot.gz', compression='gzip')

In [3]:
# df1_one_hot = pd.read_csv('df1_one_hot.gz', compression='gzip', header=0, sep=',', quotechar='"')